[submodule "Dependencies/MicroNetwork.Library"]
	path = Dependencies/MicroNetwork.Library
	url = https://github.com/L-proger/MicroNetwork.Library.git
[submodule "Dependencies/McuControl.Library"]
	path = Dependencies/McuControl.Library
	url = https://github.com/L-proger/McuControl.Library.git
[submodule "ApiGenerator/ComInterfaceGenerator"]
	path = ApiGenerator/ComInterfaceGenerator
	url = https://github.com/L-proger/ComInterfaceGenerator.git
[submodule "Dependencies/LFramework"]
	path = Dependencies/LFramework
	url = https://github.com/L-proger/LFramework.git
[submodule "Dependencies/MicroNetworkUser"]
	path = Dependencies/MicroNetworkUser
	url = https://github.com/L-proger/MicroNetworkUser.git
